 @charset "utf-8";
/* CSS Document */


body{
background-color: #fff
}

/*******************************************
             Loading 
*******************************************/
#loading { 
	background-color: #ffffff;
	height: 100%;
	width: 100%; 
	position: fixed;
	z-index: 100000;
	margin-top: 0px;
	top: 0px;
	left: 0px; 
	bottom: 0px;
	overflow: hidden !important; 
	right: 0px;
	z-index: 999999; 
}
#loading-center {
	width: 100%;
	height: 100%; 
	position: relative;
}
#loading-center img { 
	text-align: center;
	left: 0; 
	position: absolute;
	right: 0; 
	top: 50%; 
	transform: translateY(-50%); 
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%); 
	-moz-transform: translateY(-50%); 
	z-index: 99; 
	margin: 0 auto; 
}
.impl_top_header {
	background-color: #fff !important
}
.impl_header_time  {
	color: black
}
.impl_con_data i{
	color: white
}

.impl_logo{
	float:left;
	width:auto;
	height:122px;
	background-color:#fff;
	padding:0 280px 0 80px;
	position:absolute;
	left:0;
	top:0;
	line-height:120px;
	-webkit-clip-path:polygon(0 0,100% 0%,75% 100%,0% 100%);
	clip-path:polygon(0 0,100% 0%,81% 100%,0% 100%)
}



.impl_header_time {
	text-align: center !important
}


.Profile{
	margin-left:auto;
	  z-index: 9999;
	margin-right:auto;
	text-align:center;
		  	  					-webkit-transition:cubic-bezier(.34,.43,0,1.02) 0.5s;
		-moz-transition:cubic-bezier(.34,.43,0,1.02) 0.5s;
		transition:cubic-bezier(.34,.43,0,1.02) 0.5s;
	width:100px;
	height:100px;
		  border-radius:50%;
	}
	.clickProfile{
	margin-left:auto;
		border-top-left-radius:20px;
	border-top-right-radius:20px;
	margin-right:auto;
	background:#191919;
	text-align:center;
	padding:20px 0px 20px 0px;
		  	  					-webkit-transition:cubic-bezier(.34,.43,0,1.02) 0.5s;
		-moz-transition:cubic-bezier(.34,.43,0,1.02) 0.5s;
		transition:cubic-bezier(.34,.43,0,1.02) 0.5s;
			width:300px;
	height:120px;
	margin-top:24vh;
	}

.profile-link {
  display: inline-block;
  padding:-8em;
  width: 215px;
  max-width: 53%;
}
.profile-pic {
	 border: 0px solid #FFF;
  cursor: pointer;
	  	width:100%;
	height:100%;
  border-radius: 50%;
  box-shadow: #222 0.2em 0.2em 1em;
  
}

.container .icon {
	background-image: url('https://res.cloudinary.com/dw369yzsh/image/upload/v1483213851/icons_wykol9.png');
	width: 27px;
	height: 30px;
}
.calendar th, .graph {
	font-family: "Gotham Medium", sans-serif;
	color: #666666;
}
/*inputs*/
.input-text {
	border-radius: 2px;
	background-color: #f4f4f4;
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
	padding-left: 11px;
	position: relative;
	height: 46px;
	line-height: 46px;
}
.input-text .icon {
	position: absolute;
	right: 4px;
	top: 4px;
}
.input-text input, .input-text textarea, .div-file label {
	border: none;
	background-color: transparent;
	font-family: "Gotham Light", sans-serif;
	color:#999999;
}
/*placeholders hell*/
.container .input-text input::-webkit-input-placeholder, .container .input-text textarea::-webkit-input-placeholder {
	color:#999999;
	font-family: "Gotham Light", sans-serif;
	font-size: 14px;
}
.container .input-text input::-moz-placeholder, .container .input-text textarea::-moz-placeholder {
	color:#999999;
	font-family: "Gotham Light", sans-serif;
	font-size: 14px;
}
.container .input-text input:-moz-placeholder, .container .input-text textarea:-moz-placeholder {
	color:#999999;
	font-family: "Gotham Light", sans-serif;
	font-size: 14px;
}
.container .input-text input:-ms-input-placeholder, .container .input-text textarea:-ms-input-placeholder {
	color:#999999;
	font-family: "Gotham Light", sans-serif;
	font-size: 14px;
}


#overlay {
	z-index:2; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	display: none;
}


/***** Calendar *****/

.calendar {
	width: 346px;
	height: 426px;
	position: fixed;
	top: 50%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -213px;
	margin-left: -173px;
	z-index: 5;
	display: none;
}
.calendar .header {
	background-color: #404a58;
	color: #fff;
	font-size: 17px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	position: relative;
}
.calendar .arr {
	position: absolute;
	width: 13px;
	height: 30px;
	cursor: pointer;
	top: 25px;
}
.calendar .prev {
	left: 38px;
}
.calendar .next {
	background-position: 0 -30px;
	right: 38px;

}
/*table*/
.calendar table {
	width: 287px;
	height: 248px;
	margin: 11px auto 20px auto;
	text-align: center;
	vertical-align: middle;
	color: #666666;
}
.calendar tr, td {
	width: 41px;
}
.calendar td:not(.notCurMonth) {
	cursor: pointer;
	-webkit-transition: background-color 0.2s; 
	   -moz-transition: background-color 0.2s; 
		-ms-transition: background-color 0.2s; 
		 -o-transition: background-color 0.2s; 
			transition: background-color 0.2s;
}
.calendar td:not(.notCurMonth):not(.curDay):hover {
	background-color: #f4f4f4;
	border-radius: 19px;
}
.calendar .holiday {
	font-weight: bold;
	color: #fb6362;
}
.calendar .curDay {
	font-weight: bold;
	color: #fff;
	background-color: #fb6362;
	border-radius: 19px;
}
.calendar .notCurMonth {
	color: #c5c5c5;
}



/***** Booking form *****/

.booking {
	width: 346px;
	height: 800px;
}
.is-sent{
	animation: launch 1s ease-in-out forwards
} 
@keyframes launch {
  0% {
            transform: translateY(0);
  }
  10%, 15% {
            transform: translateY(20px);
  }
  100% {
            transform: translateY(-700px);
  }
  
}
/*inputs*/
.booking .dates, .booking .persons {
	margin: 26px auto 0 auto;
}
.booking label:not(.checkbox) {
	display: block;
	    color: white;
    font-size: 25px;
    font-weight: bold;
}
.booking .dates .input-text {
	margin-top: 10px;
}
.booking .dates .input-text:nth-child(2) {
	margin-bottom: 20px;
}
.booking .input-text .icon {
	width: 36px;
	height: 36px;
	background-color: #404a58;
	border-radius: 2px;
	background-position: 10px -80px;
	cursor: pointer;
}
/*checkbox*/
.div-chck {
	position: relative;
	margin-top: 16px;
}
.div-chck input, .div-chck .icon.input-text  {
	top: -2px;
	left: 0;
	position: absolute;
	width: 23px;
	height: 23px;
}
.div-chck input {
	opacity: 0;
	z-index: 1;
}
.div-chck .icon.input-text {
	background-position: -30px -415px;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}
.div-chck input:checked+.icon {
	background-position: 4px -415px;
}
.div-chck label{
	margin-left: 34px;
}
/*selects*/
.booking .persons li {
	display: inline-block;
	font-size: 0;
	width: 100%;
}
.booking .persons label {
	    color: white;
    font-size: 25px;
    font-weight: bold;
}
.booking .persons .input-text {
	height: 45px;
	padding: 0;
	margin-top: 9px;
}
.booking .persons select {
	font-size: 14px;
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	font-size: 16px;
	color: #404a58;
	padding-left: 9px;
	position: relative;
	z-index: 1;
	-webkit-appearance: none;
	   -moz-appearance: none;
		-ms-appearance: none;
		 -o-appearance: none;
			appearance: none;
}
.booking .persons option {
	background-color: #f4f4f4;
} 
.booking .persons option:hover {
	background-color: red;
}
.booking .persons .icon {
	background-position: 15px -106px;
}

/*button*/
.booking .button-big {
	position: relative;
	padding-left: 20px;
	margin-top: 40px;
}
.booking .button-big .icon {
	background-position: 0 -150px;
	position: absolute;
	left: 59px;
}

.book{
	    margin-bottom: 1rem;
    list-style: none;
	text-align: center!important
}

.one
 {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1100px;
     background-image: url(../images/22.jpg);
}
.two
 {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 180vh;
     background-image: url(../images/321.jpg);
}


.impl_sign_img p{
	color: white
}
.impl_car_spesi_img{ 
	position:absolute;
	right:0;
	top:0
}

.vedio{
	width: 650px;
	height: 400px
}
.profile{
	    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block
}




/* form */

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	/*min-height:670px;*/
	position:relative;
	background:url(images/22.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(225,0,0,.24),0 17px 50px 0 rgba(225,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;

}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
	color:  #e01b49
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#e01b49;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.3);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#fff;
	font-size:12px;
}
.login-form .group .button{
	background:#e01b49;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#f89c1b;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:#e01b49;
}
.foot-lnk{
	text-align:center;
}



.impl_car_spesi_list{
	float: none !important
}

.impl_spesi_wrapper {
	    text-align: center;
	    margin: 0 auto
}
.impl_car_spesi_list .impl_heading h1 {
	text-align: center;

}
.impl_car_spesi_list ul li{
	width: 100% !important;
}
.sent_success{
    font-size: 29px;
    background-color: white;
    color: green;
    width: 101%;
    display: none;
    border-radius: 12px;
}
.sent_fail{
    display: none;
    font-size: 29px;
    background-color: white;
    color: red;
    width: 101%;
    border-radius: 12px;
}

@media (max-width: 767px){
.impl_searchbox_wrapper {
    top: 10px !important;
}}


